streamlit
google-generativeai
python-dotenv
langchain==0.2.17
langchain-community==0.2.19
langchain-google-genai==1.0.10
langchain-text-splitters==0.2.4
PyPDF2
chromadb
faiss-cpu
langchain-google-genai
